$colors: (
    bg:#F8F8F8,
    heading:#121212,
    text:#919191,
    bullets:#DDDDDD,
    white:#fff,
    border:#dfdfdf,
    darkBlue:#0a4487,
    red:#e74646,
    blue:#0075FF,
    green:#2ae22a,
);